---
import ButtonSpecial from "../ButtonSpecial.astro";


---

<section>
    <ButtonSpecial type="button" id="login" text="INICIAR SESIÓN" />
</section>

<script>
    const { signIn } = await import("auth-astro/client");
    const login = document.getElementById("login");

    login?.addEventListener("click", () => {
        signIn();
    });
</script>
