<div class="fixed h-full w-full -z-50 blur-sm opacity-50 md:opacity-30 bg-no-repeat"></div>

<style>
	div {
		background: url('/images/background/background.webp');
		background-size: cover;
	}
</style>