---
import Layout from "@/layouts/Layout.astro";

import CountDown from "@/sections/CountDown.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
import SelectYourBoxer from "@/sections/SelectYourBoxer.astro";
import VideoPresentation from "@/sections/VideoPresentation.astro";
import Sponsors from "@/sections/Sponsors.astro";
---

<Layout title="La Velada 4 - Proyecto Académico">
    <Hero />
    <main class="w-full mx-auto">
        <PrincipalDate />
        <SelectYourBoxer />
        <VideoPresentation />
        <Info />
        <CountDown />
        <Sponsors />
    </main>
</Layout>
