---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
import Intro from "@/components/Pronosticos/Intro.astro";
import Vote from "@/components/Pronosticos/Vote.astro";

const session = await getSession(Astro.request);
---

<Layout
    description="Pronostica los ganadores de la Velada IV"
    title="¡Vota por tus boxeadores favoritos!"
>
    <main>
        {session === null ? <Intro /> : <Vote user={session.user} />}
    </main>
</Layout>
