<div
    class={`
    fixed -inset-1/2 w-[200%] h-[200vh]
    pointer-events-none contrast-125 brightness-150
`}
>
</div>

<style>
    div {
        background: url("/images/background/noise.png");
        background-repeat: repeat;
        mix-blend-mode: multiply;
        background-color: transparent;

        animation: noise 0.5s infinite;
    }

    /* Este media query sirve por si un usuario se marea con las animaciones, y las quiere desactivar desde el navegador, pues el media query entiende y las desactiva */
    @media (prefers-reduced-motion: reduce) {
        div {
            animation: none;
            opacity: 0.3;
        }
    }

    /* Se usa el translade 3d para que use la GPU del pc */
    @keyframes noise {
        0% {
            transform: translate3d(0, 0, 0);
        }

        10% {
            transform: translate3d(-5%, -5%, 0);
        }

        20% {
            transform: translate3d(-10%, 5%, 0);
        }

        30% {
            transform: translate3d(5%, -10%, 0);
        }

        40% {
            transform: translate3d(-5%, 15%, 0);
        }

        50% {
            transform: translate3d(-10%, 5%, 0);
        }

        60% {
            transform: translate3d(15%, 0, 0);
        }

        70% {
            transform: translate3d(0, 15%, 0);
        }

        80% {
            transform: translate3d(10%, 5%, 0);
        }

        90% {
            transform: translate3d(5%, 10%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }
</style>
