---
import Instagram from "@/icons/instagramIcon.astro";
import GithubIcon from "@/icons/github.astro";
---

<span class="md:max-w-[40%] mb-10 lg:mb-0 pl-2 lg:pl-10 text-primary text-center lg:text-left text-pretty">
    © 2024 La Velada del año 
    <br aria-hidden="true" />
    Este Proyecto es enteramente académico, lo hice con la finalidad de aprender y poner a prueba algunas habilidades del desarrollo web.
</span>

<nav class="pr-4 lg:pr-10">
    <ul class="flex justify-center items-center gap-x-6">
        <li>
            <a
                href="https://www.instagram.com/josesissa_/"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <Instagram />
            </a>
        </li>
        <li>
            <a
                href="https://github.com/JoseSissa"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:scale-125 hover:opacity-70 transition inline-block"
            >
                <GithubIcon class:list={"w-[48px] h-[48px]"} />
            </a>
        </li>
    </ul>
</nav>