---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col place-items-center mb-32">
    <span class="mb-9 px-6 py-1 uppercase text-secondary bg-primary font-medium text-xl animate-fade-in animate-delay-300">
        Presenación de la
    </span>
    <HeroLogo class="w-[300px] h-auto md:w-[600px] text-primary animate-fade-in-up" />
</section>