---
import { SPONSORS } from "@/const/sponsors";
---

<section class="my-40">
    <h3 class="text-center text-2xl font-semibold text-white">
        PATROCINADORES
    </h3>
    <p class="mt-4 text-xl text-neutral-300 text-center">
        La Velada puede llevarse a cabo gracias a la colaboración de ...
    </p>

    <div class="mt-12 grid grid-cols-3 gap-2 md:gap-8">
        {
            SPONSORS.map(({ id, name, url }) => (
                <a
                    class="group relative flex justify-center items-center h-24 md:h-32"
                    title={`Visita la página del patrocinador ${name}`}
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img
                        class="w-16 md:w-28 h-auto group-hover:scale-110 transition-transform"
                        src={`/images/sponsors/${id}.svg`}
                        alt={`Logo del patrocinador ${name}`}
                        loading="lazy"
                    />
                </a>
            ))
        }
    </div>
</section>

<style>
    a {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 0%,
            transparent 100%
        );
        transition: all 0.5s ease;
        z-index: 0;
    }
    a::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.2) 0%,
            transparent
        );
        opacity: 0;
        height: 50%;
        transition:
            opacity 0.2s ease-in-out,
            height 0.2s ease-in-out;
    }
    a:hover::before,
    a:focus::before {
        opacity: 1;
        height: 90%;
        z-index: 100;
    }
</style>
