<button id="hamburguer" class="hamburguer">
    <span class="sr-only">Abrir y cerrar menú principal</span>
    <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
    </svg>
</button>

<style>
    .hamburguer {
        padding: 4px 5px 2px;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        z-index: 1;
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    svg {
        width: 20px;
        height: 20px;
        z-index: 0;
        pointer-events: none;
    }
</style>


<script>
    document.addEventListener("astro:page-load", () => {
        const menuMobile = document.getElementById("menuMobile") as HTMLElement;
        const button = document.getElementById("hamburguer") as HTMLElement;

        button.addEventListener("click", (e) => {            
            menuMobile.classList.toggle("open");
        });
    });
</script>