---
// Supports weights 100-900
import "@fontsource-variable/jost";
import Header from "@/sections/Header.astro"
import NoiseStatic from "@/components/backgrounds/NoiseStatic.astro";
import LightBackground from "@/components/backgrounds/LightBackground.astro";
import Footer from "@/sections/Footer.astro";
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string;
    description?: string
}

const { title } = Astro.props;
const descriptioPage = Astro.props.description ? Astro.props.description : "Proyecto Académico de La Velada Del Año 2024";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={descriptioPage} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="keywords"
            content="velada, streamers, creadores, Ibai, boxeo, midudev"
        />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:url" content="https://lavelada.es" />
        <meta property="og:image" content="" />
        <meta property="og:description" content={descriptioPage} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <Header />
        <LightBackground />
        <NoiseStatic />
        <div class="max-w-6xl mx-auto px-2 lg:px-10 pt-8 md:pt-24">
            <slot />
        </div>
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --color-primary: #ddd;
        --color-secondary: #333;
        --color-accent: #b4cd02;

        --color-accent-rgb: 213, 255, 0;
        --background-color: #141800;
        --background-twitch: var(--background-twitch-ice);

        --color-twitch: #9146ff;
        --color-twitch-ice: #f0f0ff;
    }

    @font-face {
        font-family: Atomic;
        src: url("/fonts/atomic.woff2") format("woff2");
    }

    html {
        font-family: "Jost Variable", system-ui, sans-serif;
        background: var(--background-color);
        /* background: var(--background-primary); */
        color: var(--color-primary);
        /* scroll-behavior: smooth; */
        overflow-x: hidden;
    }

    body {
        overscroll-behavior: none;
    }

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--color-secondary);
    }

    ::-webkit-scrollbar-track {
        background: url("/images/background/noise.png");
        background-repeat: repeat;
    }

    ::-webkit-scrollbar-corner {
        background: url("/images/background/noise.png");
        background-repeat: repeat;
    }
</style>
